# remove all to start
*

# add main file and other modules
!bot.py
!block_creator.py
!backend_manager.py
!sheets_api_handler.py

# add this file
!.gitignore

# format file
!format.json

# add TODO
!TODO.md